* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*generales*/
/*generales*/
body {
  background-color: #f1f1f1;
}
.container {
  margin-left: 18px;
  margin-right: 18px;
}
.subtitle h3 {
  font-family: "Roboto";
  color: #040404;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 10px 0px 10px 5px;
}
.hide {
  display: none;
}
.mobile-view {
  display: contents;
}
.desktop-view {
  display: none;
}
.margin-top {
  margin-top: 40px;
}
/*columnas*/
/*columnas*/
.col-4,
.col-6,
.col-8,
.col-12 {
  width: 100%;
}
.col-4,
.col-6,
.col-8,
.col-12 {
  float: left;
}
/*header*/
/*header*/
.my-header {
  position: sticky;
  width: 100%;
  height: 90px;
  left: 0px;
  top: 0px;
  background: linear-gradient(336.74deg, #21e9c0 1.46%, #55c7fd 85.12%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
}
.logo img {
  width: 157px;
  padding: 15px 0px;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: #fff;
  font-weight: 500;
}
.user img {
  width: 50px;
  border-radius: 50%;
  padding: 8px;
  margin-left: 4px;
}
.flex-box-horizontal {
  display: flex;
  justify-content: space-between;
}
/*card*/
/*card*/
.card {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Montserrat";
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: #5e6973;
  letter-spacing: 1px;
}
.number-bold {
  font-size: 3em;
  font-weight: 600;
}
.divition-line {
  border-right: 3px #55c7fd solid;
  padding-right: 75px;
}
.data {
  margin: 20px 0px;
}
.width-data {
  width: 50%;
}
.blue-line {
  border-right: 3px #55c7fd solid;
}
/*card2*/
/*card2*/
.card2 {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 15px 20px;
  font-family: "Montserrat";
}

/*tab*/
/*tab*/
.tabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  margin: 40px 0px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs li {
  width: 50%;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 1px 1px 0 0;
  font-size: 1em;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
  background: #fff;
  cursor: pointer;
  position: relative;
  top: 4px;
  width: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #55c7fd;
  color: #fff;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #fff;
  border-radius: 10px;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #55c7fd;
  color: #fff;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}
/*chart*/
/*chart*/
.charts {
  margin: 20px;
}

/*Table*/
/*Table*/

.table {
  overflow: auto;
  height: 600px;
  border-collapse: collapse;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  overflow-x: auto;
  border-radius: 20px;
}
.tableHeader {
  font-family: "Roboto";
  letter-spacing: 2px;
  border: none;
  color: #fff;
  background: linear-gradient(336.74deg, #21e9c0 1.46%, #55c7fd 85.12%);
  text-align: center;
}
.thHeader {
  padding: 12px 5px;
  line-height: normal;
}
.tableBody {
  font-family: "Roboto";
  font-weight: 200;
  height: 400px;
  overflow-y: scroll;
  border-radius: 20px;
  color: #5e6973;
  text-align: center;
  line-height: normal;
}
.trBody:hover {
  background-color: #f5f5f5;
}
.tdBody {
  padding: 12px;
}
.clickName {
  border: none;
  color: #5e6973;
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 1em;
}
/*Card pacientes*/
.card_container {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Montserrat";
  color: #5e6973;
  letter-spacing: 1px;
}
.clickNamePatient {
  background-color: #fff;
  border: none;
  font-family: "Roboto";
}
/*Media querys*/
/*Media querys*/
@media screen and (min-width: 450px) {
  .my-header {
    border-radius: 0px;
  }
}
@media screen and (min-width: 769px) {
  .col-8 {
    width: 60%;
    padding: 0px 15px;
  }
  .col-6 {
    width: 50%;
    padding: 0px 15px 0px 0px;
  }
  .col-4 {
    width: 40%;
    padding: 0px 15px;
  }
  .card-hardData {
    display: flex;
    justify-content: flex-end;
  }
  .col-4,
  .col-8 {
    float: right;
  }
  .desktop-view {
    display: contents;
  }
  ul .mobile-view {
    display: none;
  }
  .tabs li {
    width: 100%;
  }
}

#enterTextBox {
  background-image: url("/img/lupa.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 60%;
  border-radius: 20px;
  font-size: 16px;
  padding: 12px;
  border: 50% solid #ddd;
  margin-bottom: 12px;
}
